# Supabase Configuration
VITE_SUPABASE_URL="https://wsbwuctjqpteiftiapul.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_DmedHnuoDeB_54n8rNqytQ_FP81ztvs"
SUPABASE_SERVICE_ROLE_KEY=""

# Safaricom M-Pesa Daraja API (Server-Side Only - Never exposed to frontend)
MPESA_ENVIRONMENT="sandbox" # "sandbox" or "production"
MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_SHORTCODE="174379"
MPESA_PASSKEY="bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919"
MPESA_CALLBACK_URL=""

# Application
APP_URL=""
PORT="3000"
